# Ignore local DICOM/data folders
/Data/
/data/
/Data/2026-05_studies/2026-05__Studies/
/Data/2026-05_studies/2026-05__Studies_WBP/
/data/2026-05_studies/2026-05__Studies/
/data/2026-05_studies/2026-05__Studies_WBP/
/2026-05__Studies/
/2026-05__Studiesv2/
/1j92g763g/
*.dcm
*.DCM
planar_qspect_ppt_figure.png
planar_corrected_summed_figure.png
/fig/*.png

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
.env
.venv
